<section class="result">
    {% if text %} <!-- Source text in one column at the top. -->
        <div class="row pt-4 section">
           <div class="col">
               <!--<h6 class="text-uppercase text-black-40">Original</h6>-->
               <p><strong>{{ text.text }}</strong></p>
           </div>
        </div>
    {% endif %}

    {% if text.sentences %}
    {% for sentence in text.sentences %}
    <div class="row section pt-2">
        <div class="col-12 col-md-6"> <!-- Sentence on the left or top if big screen. -->
            <!--<h6 class="text-uppercase text-black-40">Sentence</h6>-->
            <p>{{ sentence.sentence }}</p>
        </div>
        <div class="col-12 col-md-6"> <!-- Themes and sentences. -->
            <!--<h6 class="text-uppercase text-black-40">Analysis</h6>-->
            <p>
                {% for theme in sentence.themes %}
                    <button type="button" class="btn btn-success mb-1">{{ theme.theme }} <span class="badge badge-light">{{ "{:.2f}".format(theme.score) }}</span></button>
                {% endfor %}
            </p>
            {% if sentence.sentiment %}
            <p>
                {% if sentence.sentiment > 0.33 %}
                    <button type="button" class="btn btn-success">Positive <span class="badge badge-light">{{ "{:.2f}".format(sentence.sentiment) }}</span></button>
                {% elif sentence.sentiment >= -0.33 %}
                    <button type="button" class="btn btn-secondary">Neutral <span class="badge badge-light">{{ "{:.2f}".format(sentence.sentiment) }}</span></button>
                {% else %}
                    <button type="button" class="btn btn-danger">Negative <span class="badge badge-light">{{ "{:.2f}".format(sentence.sentiment) }}</span></button>
                {% endif %}
            {% endif %}
            </p>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</section>

