{% extends "bootstrap/base.html" %}

{% block title %}Text API{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
{% endblock %}

{% block navbar %}
{% set navigation_bar = [
    ('/classify', 'classify', 'Text classification'),
    ('/history', 'history', 'History')
] -%}

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='logo.svg') }}" class="img-fluid float-top pb-1">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% for href, id, caption in navigation_bar %}
                    {% if id == active_page %}<li class="nav-item active">{% else %}<li class="nav-item">{% endif %}
                        <a class="nav-link" href="{{ href }}">{{ caption }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container body">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}