{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% set active_page = "classify" %}

{% block title %}Text Classification{% endblock %}

{% block page_content %}
<div class="container">
    <div class="page-header">
        <h1 class="h1 d-inline-block">Text classification</h1><span class="badge badge-pill badge-danger align-top">Alpha</span>
        <p class="lead">Blah blah blah blah blah blah</p>
    </div>
</div>
{{ wtf.quick_form(form) }}

{% include '_texts.html' %}

<br>Review <a href="/history">previous submissions</a>

{% endblock %}