{% extends "base.html" %}
{% set active_page = "index" %}

{% block title %}Text API{% endblock %}

{% block page_content %}

<section id="introduction">
    <div class="row fill-viewport align-items-center">
        <div class="col-12 col-md-6 order-1 order-md-2">
            <h1 class="display">From words to meaning</h1>
            <p class="lead">Text data contains richness of information that is not available from structured data.
                Our text API make it easy to extract themes and sentiment from unstructured data to give a score to
                the meaning. </p>
            <a class="btn btn-primary py-3 px-4" href="/classify" role="button">Try it now</a>
        </div>
        <div class="col-12 col-md-6 order-2 order-md-1">
            <img src="{{ url_for('static', filename='landing-illustration.svg') }}" class="img-fluid"/>
        </div>
    </div>

</section>

{% endblock %}