{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% set active_page = "speech" %}

{% block title %}Text Classification{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1 class="h1 d-inline-block display">Speech recognition</h1>
        <p class="lead">Getting better understanding of your conversation with customers</p>
        <p  class="d-none d-md-block">XYZ - text.</p>
        <p  class="d-none d-md-block">XYZ - text.</p>
        <p class="lead">Sample 1 - Customer enquiry call - EN-GB regional accent</p>
        <audio controls controlsList="nodownload">
            <source src="{{ url_for('static', filename='wav/demo-sample-1-short.wav') }}", type="audio/wav">
        </audio>
        <a class="btn btn-primary py-3 px-4 ml-3 align-top" href="{{ url_for('main.speech_analyse',filename='wav/demo-sample-1-short.wav') }}" role="button">Analyse</a>
        <p class="lead mt-3">Sample 2 - Customer complaint call - EN-US accent</p>
        <audio controls controlsList="nodownload">
            <source src="{{ url_for('static', filename='wav/demo-sample-2-short.wav') }}", type="audio/wav">
        </audio>
        <a class="btn btn-primary py-3 px-4 ml-3 align-top" href="{{ url_for('main.speech_analyse',filename='wav/demo-sample-2-short.wav') }}" role="button">Analyse</a>
    </div>

{% endblock %}